@import url(https://fonts.googleapis.com/css?family=Open+Sans:600italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:600italic);

body {
	background-color: #EEF0E5;
	background-image: url('../images/seinfeld_restaurant.jpg');
	font-family: 'Raleway', sans-serif;
	color: #F51A3F;
	/*font-family: 'Open Sans', sans-serif;*/
}

img {
	width: 300px;
}

h4,h3,h2,h1 {
	text-shadow: #2A403B .75px .75px;
}

h4 {
	margin-top: 5px;
}

h3 {
	margin-top: 5px;
}

h2 {
	margin-top: 5px;
}

.volume {
	margin-top: 30px;
	cursor: pointer;
	color: black;
	font-size: 40px;
}

.volume:hover {
	color: white;
}

/*#main-page {
	width: 75%;
	margin: 0 auto;
	border-radius: 0 0 4px 4px;
	height: 720px;
	background-color: #EEF0E5;
	border: 1px solid black;
	border-top: none;
	padding: 0 20px 20px;
}*/

#question_count {
	position: fixed;
}

#main-page {
	/*background-image: url('../images/seinfeld.jpg');*/
	background-color: #0171BB;
	padding: 20px;
	margin-top: 80px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.hide {
	display: none;
}

.list-group {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}

button.list-group-item {
	text-align: center;
}

#title-img img{
	width: 265px;
}

#title {
	width: 50%;
}

button.list-group-item:focus {
	color: #555555;
	background-color: #FFFFFF;
	outline: none;
}

@media screen and (max-width: 640px) {
	#title-img img {
		width: 175px;
	}

	#main-page {
		margin-top: 20px;
	}

	#title {
		width: 100%;
		margin-top: 15px;
	}

	img {
		width: 200px;
	}

	h1, h2, h3, h4 {
		font-weight: bolder;
	}

	h3 {
		font-size: 12px;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h4 {
		margin-top: 0;
		font-size: 10px;
	}

	button {
		font-size: 12px;
	}
}