body {
	background-color: #EEF0E5;
	background-image: url('../images/seinfeld_restaurant.jpg');
}

/*#main-page {
	width: 75%;
	margin: 0 auto;
	border-radius: 0 0 4px 4px;
	height: 720px;
	background-color: #EEF0E5;
	border: 1px solid black;
	border-top: none;
	padding: 0 20px 20px;
}*/

#main-page {
	background-color: #EEF0E5;
	padding-top:0;
}

#start-game {
	margin-top: 150px;
}

.hide {
	display: none;
}

.list-group {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}

button.list-group-item {
	text-align: center;
}

#title {
	width: 50%;
}

button.list-group-item:focus {
	color: #333333;
	background-color: #FFFFFF;
	outline: none;
}